@import "./partials/_setup.scss";
@import "./partials/_global.scss";
@import "./partials/_typography.scss";

//header

header {
  nav {
    ul {
      margin: 0px 0px;
      padding: 0;
    }
  }
}

//header ends

//Intro
.intro {
  background-color: $lightpink;
  height: 100vh;
  .wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .introWrapper {
      display: flex;
      height: 50vh;
      align-items:center;
      .introFig {
        flex: 0 0 30%;
        border-radius: 2px;
        border: 5px solid $redpink;
        object-fit: cover;
      
        img {
        }
      }
      .introContent {
        margin: 0 0 0 50px;
        flex: 0 0 calc(70%);
        display:flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        .introHeading {
          display: inline-block;
          color: $redpink;
          margin: 15px 0;
        }
        .introCopy {
          color: $redpink;
        }
      }
    }
    .skills {
      height: 50vh;
      display:flex;
      align-items: center;
      ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        li {
          color: $redpink;
          padding: 0 25px 25px 0;
          font-size: 7rem;
          text-align:center;
          width: 140px;
          p{
            font-size: 1rem;
            text-transform: uppercase;
            font-weight: 500;
            text-align:center;
          }
          .firebaseIcon{
            margin: 0 auto;
            width: 38px;
            margin-bottom: 40px;
          }
          .jqueryIcon {
            margin: 0 auto;
            width: 52px;
            margin-bottom: 42px;
          }
          .restful {
            margin-bottom:12px;
          }
          // .responsiveIcon {
          //   margin: 0 auto;
          //   width: 60px;
          //   margin-bottom: 18px;
          // }
        }
      }
    }
  }
}

//Intro ends
