footer{
  padding:5px;
  background-color: $grey;
    p{
    margin: 5px;
    text-align: center;
    color: $lightpink;
    // font-weight: 700;
    font-size: 1.2rem;
    text-transform: uppercase;
  }
}