
//colors
$lightpink: #eed9d4;
$redpink: #cf4436;
$grey: #4a4a4a;

html {
  font-size: 62.5%;
}

.wrapper {
  width: 1020px;
  margin: 0 auto;
}

img{
  width: 100%;
  display:block;
}

.btn{
  background-color: transparent;
  color: $redpink;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 1.6rem;
  // text-transform: uppercase;
  border: solid 2px $redpink;
  border-radius: 2px;
  padding: 15px 30px;
}