@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700,900|Playfair+Display:400,900");
@import url("https://fonts.googleapis.com/css?family=Cedarville+Cursive");

// font mixins //
@mixin headingFont($fontSize) {
  font-size: $fontSize;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
}

@mixin bodyFont($fontSize) {
  font-size: $fontSize;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}

@mixin lineHeight($lineHeight) {
  line-height: $lineHeight;
}

@mixin handWrittenFont($fontSize){
  font-size: $fontSize;
  font-family: 'Cedarville Cursive', cursive;
}

// headings //
h1 {
  @include headingFont(10rem);
}

h2 {
  @include headingFont(3.5rem);
  @include lineHeight(1);
}

h3 {
  @include headingFont(3rem);
  @include lineHeight(1);
}

h4 {
  @include bodyFont(1.8rem);
  @include lineHeight(1);
}

// body //
p {
  @include bodyFont(1.6rem);
  line-height: 1.5;
}

.handWritten{
@include handWrittenFont(2.5rem);
}